<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a highly motivated machine learning engineer and data scientist with experience in research. My current research focuses on federated learning as well as ML on the edge, but I also have a more casual interest in reinforcement learning. I am proficient in python, pytorch, numpy, pandas and other popular data science and ML libraries.
            </p>
            <p class="paragraph-text justify-text">
                I'm currently a student at the University of Maryland majoring in computer science and minoring in statistics. After I graduate I will pursue a master's in machine learning or a related field. Most recently, I worked as an AI engineer at Renesas, a microchip and semi-conductor company.
            </p>
            <p class="paragraph-text justify-text">
                Outside of machine learning, I also love to develop games, paint, and cook in my spare time.
            </p>
        </div>
    </section>
</div>
